.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.heading{
  margin-top: 14rem;
}

/* For screens smaller than 768px (like mobile screens) */
@media (max-width: 768px) {
.heading {
  margin-top: 10rem;
}
}


html, body, #root, .app-container {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height */
}

.content {
  flex: 1; /* This will take up the remaining space */
}